<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Assignment 2 SDG</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Upload</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Download</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Assignment 2 - SDG</h3>
        </div>
 
         	 <form enctype="multipart/form-data" action="delfile" method="post">
		  Enter file name to delete:<br>
		 <input type="text" name="fileName" value="fileName">
		 <br>
  		 Enter version number:<br>
		 <input type="text" name="fileVersion" value="1">
		 <br><br>
		 <input type="submit" value="Submit">
		 </form> 
 
        <footer class="footer">
            <p>&copy; SDG 2017</p>
        </footer>
 
    </div>
</body>
 
</html>
